.header {
    padding: 30px 80px 40px;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:#ffffff;
    background-image: url(../images/background_header.svg) ;
    background-size: cover;
}
.header__title {
  max-width: 729px;
  font-size: 60px;
  line-height: 70px; 
  margin: 183px 0 0;
  letter-spacing: -0.6px;
  font-family: "inter";
  font-weight: 500;
  font-size: 60px;
}

.header__span-accent {
  display: block;
  color: #0026ff;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
    max-width: 683px;
    font-family: "Noto Serif";
    font-size: 20px;
    line-height: 30px;
    margin: 28px 0 0;
}

.header__image {
  z-index: 1;
  position: absolute;
  max-width: 636px;
  top: 135px;
  right: 20px;

}

.header__footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;

}

.header__paragraphs {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;

}